h1 {
  font-size: 160px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#startButton{
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  margin: 200px 900px 200px 600px;
  border: 10px solid black;
  padding: 30px;
}

p {
  font-size: 400px
  color: red;
}

body{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

#mainScreen {
  border: 10px solid blue;
  width: 1500px;
  margin: 0 auto;
}

button {
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  border: 10px solid black;
  width: 610px;
  height: 300px;
  margin: 100px 0px 0px 80px;
  display: inline-block;
}

img {
  height: 800px;
  width: 900px;
  border: 20px solid red;
  margin: 100px 200px 100px 540px
}

#questions {
  text-align: center;
}

#score {
  float: right;
  font-size: 40px;
  border: 5px solid black;
}

#kill1 {
  text-align: center;
  margin: 50px 300px 100px 300px;
  font-size: 40px;
  border: 5px solid black;
}
