h1 {
  font-size: 160px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

body #startButton{
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  margin: 200px 900px 200px 550px;
  border: 10px solid black;
  padding: 30px;
}

p {
  font-size: 400px
  color: red;
}

body{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

#mainScreen {
  border: 10px solid blue;
  margin: 50px
}

button {
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  border: 10px solid black;
  margin: 30px;
}

img {
  height: 400px;
  width: 500px;
  border: 20px solid red;
  margin: 100px 200px 100px 400px
}

div #questionnaire {
  display: inline-block;
  width: 200px 200px;
  margin: 40px;
}

#score {
  float: right;
  font-size: 40px;
  border: 5px solid black;
}

#kill1 {
  text-align: center;
  margin: 50px 300px 100px 300px;
  font-size: 40px;
  border: 5px solid black;
}
